@charset "UTF-8";
/* CSS Document */

#menufijo {
    background-color: #FCCBCB;
    position: fixed;
    height: 100px;
    width: 480px;
    margin-left: 33%;
    z-index: 100;
    /* [disabled]background-size: 0 auto; */
}
#carrusel {
    /* [disabled]top: 0vmax; */
    /* [disabled]white-space: normal; */
}
#contenido {
}
